@charset "utf-8";

.doc {
    margin: 10px;
    text-decoration: none;
    background-color: #DF901F;
    color: #ECEEE8;
}

.summary, .education, .tech-profs, .activities, .history {
    border-top: solid;
    border-width: 2.5px;
    padding-bottom: 10px;
}

.personal-info {
    padding-bottom: 10px;
}

p {
    margin:auto;
}

h1 {
    font-family: "palatino linotype";
}

h2 {
    margin: 0px 0px 10px 0px;
}

h3{
    margin: 0px;
}

.work-1 {
    padding-bottom: 5px;
}
